body {
    background-color: #080708;
      margin: 0;
    width: 100%;
}

h1 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 50px;
    color: #FFFAFF;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

h2 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    color: #FFFAFF;
    margin-left: 40px;
}

.subtitle {
    text-align: center;
    font-size: 15px;
    margin-left: 0px;
    margin-top: 5px;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 10px;
    color: #FFFAFF;
}


.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

iframe{
    width: 40%;
    height: 300px;
    display: block;
    margin-top: 7px;
}



/* Color palate 
080708
145C9E
17BEBB
D8D4D5
FFFAFF
*/