.pageTitle {
    font-family: "Space Grotesk", sans-serif;
    font-size: 50px;
    color: #FFFAFF;
    width: 100%;
    text-align: center;
}

a:any-link {
    color: white;
}

h1 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 50px;
    color: #FFFAFF;
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 1100px){
    h2,
h3,
p,
h4 {
    padding-left: 20vw;
    padding-right: 20vw;
}
}

@media screen and (max-width: 1100px){
    h2,
h3,
p,
h4 {
    padding-left: 10px;
    padding-right: 10px;
}
}



h2 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 35px;
    color: #FFFAFF;
}

h3 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 25px;
    color: #FFFAFF;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
}

h4 {
    font-size: 13px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}


ul {
    max-width: 500px;
    margin: 0 auto;
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    margin: 3px;
}

