.pageTitle {
    font-family: "Space Grotesk", sans-serif;
    font-size: 50px;
    color: #FFFAFF;
    width: 100%;
    text-align: center;
}

a:any-link {
    color: white;
}

h1 {
    /* title */
    font-family: "Space Grotesk", sans-serif;
    font-size: 50px;
    color: #FFFAFF;
    width: 100%;
    text-align: center;
}

h2,
h3,
p,
h4 {
    padding-left: 10vw;
    padding-right: 10vw;

}

h2 {
    /* headings */
    font-family: "Space Grotesk", sans-serif;
    font-size: 35px;
    color: #FFFAFF;
}

h3 {
    /* subheadings */
    font-family: "Space Grotesk", sans-serif;
    font-size: 25px;
    color: #FFFAFF;
}

p {
    /* normal */
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    font-size: 13px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}