.pageTitle {
    font-family: "Space Grotesk", sans-serif;
    font-size: 50px;
    color: #FFFAFF;
    width: 100%;
    text-align: center;
}

a.article:any-link {
    color: white;
}

h1{
/* title */
    font-family: "Space Grotesk", sans-serif;
    font-size: 50px;
    color: #FFFAFF;
    width: 100%;
    text-align: center;
}

h2{
/* headings */
color: orange;
}

h3{
/* subheadings */
color: yellow;
}

p{
/* normal */
color: green;
}

h4{
/* caption */
color: blue;
}