h1 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 50px;
    color: #FFFAFF;
    width: 100%;
    text-align: center;
}

h2{
    font-style: italic;
    text-align: center;
    padding-top: 40px;
    margin: 0;
}


/* Start Box Styles */

ul{
    padding: 0;
}

.box {
    height: fit-content;
    background-color: #282828;
    border-radius: 15px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 550px;
    justify-self: center;
    color: white;
}

.title {
    margin: 0;
    padding-bottom: 5px;
    color: white;
    font-family: "Space Grotesk", sans-serif;
    font-size: 25px;
}

.box:hover {
    background-color: #061e34;
}

.desc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px;
    margin: 0;
}

body {
    background-color: #080708;
}

a.link:any-link {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 850px) {
    .box {
        width: calc(100vw - 80px);
    }
}