h1{
    color:white;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    font-size: 50px;
    width: 100%;
}

.imgBox{
    width: 100%;
    text-align: center;
}

.receipt{
    color: white;
    min-width: 300px;
    width: 90vw;
    max-width: 800px;
    align-self: center;
}

.dataLink:any-link{
    padding-top: 10px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.linkBox{
    text-align: center;
    width: 100%;
}