<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/styles/default.css">

    {% if page.url == "/" %}
    <title>DeFlock SF</title>
</head>
{% else %}
<title>{{ page.title }} | DeFlock SF</title>
{% endif %}

{% if page.custom_head %}
{{ page.custom_head }}
{% endif %}

<script src="/index.js" defer></script>
<link rel="icon" type="image/x-icon" href="/images/favicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preload"
    href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Space+Grotesk:wght@700&display=swap" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
<noscript>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Space+Grotesk:wght@700&display=swap">
</noscript>
<meta name="description"
    content="{% if page.description %}{{ page.description | xml_escape }}{% else %}{{ site.description | xml_escape }}{% endif %}">
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="shelf ">
                <a href="/resources"><button class="shelfButton">Resources</button></a>
                <a href="/news"><button class="shelfButton">News</button></a>
                <a class="logo" href="/">
                    <img alt="DeFlockSF Logo" class="logo" src="/images/favicon.svg"></img>
                    <div class="logoText">DeFlock SF</div>
                </a>
            </div>
        </header>
        <main>
            {{ content }}
        </main>
        <footer>
            <div class="footerFade"></div>
            <div class="footerWrapper">
                <a href="https://github.com/zachary-schwartz/flocksf" target="_blank" rel="noopener noreferrer"><img
                        alt="Github Link" class="socials" src="/images/github.svg"></img></a>
                <a href="https://www.instagram.com/deflocksf" target="_blank" rel="noopener noreferrer"> <img
                        alt="Instagram Link" class="socials" src="/images/instagram.svg"></img></a>
                <a href="https://www.tiktok.com/@deflocksf" target="_blank" rel="noopener noreferrer"><img
                        alt="TikTok Link" class="socials invert" src="/images/tiktok.svg"></img></a>
                <a href="https://www.youtube.com/@deflocksf" target="_blank" rel="noopener noreferrer"><img
                        alt="YouTube Link" class="socials" src="/images/youtube.svg"></img></a>
                <br>
                <p>Not associated with Flock Safety, Flock Group Inc, or any public agency.
                    <a class="footer" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"
                        rel="noopener noreferrer">CC BY-NC-SA</a>
                </p>
            </div>
        </footer>
    </div>
</body>

</html>