h1 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 50px;
    color: #FFFAFF;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

h2 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    color: #FFFAFF;
    margin-left: 40px;
}

h3 {
    font-family: "Space Grotesk", sans-serif;
    color: white;
    margin-left: 10px;
    font-size: 20px;
    margin-bottom: 0px;
}

.subtitle {
    text-align: center;
    font-size: 15px;
    margin-left: 0px;
    margin-top: 5px;
}

.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.mapContainer {
    padding: 10px;
}

iframe {
    height: 300px;
    border: 0;
    width: 100%;
    border-radius: 7px;
}

.explainer {
    width: 100vw-80px;
    height: fit-content;
    min-height: 300px;
    color: white;
    background-color: #124374;
    border-radius: 7px;
    margin: 10px;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-top: 10px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.explainer h2 {
    margin-left: 0;
}

.explainer p {
    text-indent: 40px;
}

.explainer img {
    max-width: 70%;
    height: auto;
    outline: none;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 5px;

}

@media screen and (max-width: 850px) {
    .explainer {
        display: block;
    }
}

@media screen and (min-width: 850px) {
    .explainer {
        display: flex;
    }

    .explainerBox {
        flex: 1;
    }
}
.imgBox {
    margin: 0 auto;
    text-align: center
}

.imgBox .caption {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

.header{
    text-align: center;
    padding-top: 10px;
    margin: 0px;
    padding-bottom: 10px;
}

@media screen and (max-width: 850px) {
    .infoShelf {
        display: block;
    }
}

@media screen and (min-width: 850px) {
    .infoShelf {
        display: flex;
    }

    .infoBox {
        flex: 1;
    }
}

.infoShelf {
    width: 100%;
    padding-bottom: 10px;
}

.infoBox {
    color: #FFFAFF;
    background-color: #124374;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 7px;
}

.title {
    font-family: "Space Grotesk", sans-serif;
    font-size: 30px;
    padding: 10px;
    margin: 0;
}


.description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;

    a {
        color: #FFFAFF;
    }
}

.ml-embedded {
    margin-top: 25px;
}